.git
.gitignore
.env
.env.local
.env.*.local
.venv/
.pytest_cache/
.hypothesis/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
.coverage.*
htmlcov/
tests/
.idea/
.vscode/
dist/
build/
*.egg-info/
data/
README.md
